*{
    scroll-behavior: smooth;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background:linear-gradient(lime,white,salmon);
    color: #333;
}
/*This is the header styling section of my webpage*/
header{
    background-color: #fff;
    color: #333;
    padding: 1em 0;
    text-align: center;
}
header h1{
    margin: 0;
}
nav ul{
    list-style: none;
    padding: 0;
}
nav ul li{
    display: inline;
    margin:0 10px;
}
nav ul li a{
    color: #6a6a6a;
    text-decoration: none;
}
/* This is the main styling section of my webpage*/
main{
    padding: 20px;
    max-width: 800px;
    margin: auto;
}
section{
    background-color: #fff;
    margin: 20px 0;
    padding: 20px;
    border-radius: 9px;
    box-shadow: 0 0 10px black;
}
h2{
    color: #333;
}
/*This is the CSS Colors Styling Section*/
.color-example{
    background:linear-gradient(to left, blue,rgb(0, 255, 115));
    color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    margin: 10px 0;
}
/* This is the Flexbox and Flex Item styling section of my webpage*/
.flex-container{
    display: flex;
    gap: 10px;
    margin: 20px 0;
}
.flex-item{
    background-color: #2196F3;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    flex: 1;
}
/*This is the Grid and Grid Item styling section of my webpage*/
.grid-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    margin: 20px;
}
.grid-item{
    background-color: orange;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}
/*This is the footer styling section of my webpage*/
footer{
    text-align: center;
    padding: 10px;
    background-color: #fff;
    color: #333;
}
/* This is the responsive layout for my webpage*/
@media (max-width:600px){
    .flex-container{
        flex-direction: column;
    }
    .grid-container{
        grid-template-columns: 1fr;
    }
}
/* Dark mode styles*/
body.dark-mode{
    background:linear-gradient(#121212,grey,darkslategrey);
    color: #e0e0e0;
}
header.dark-mode, footer.dark-mode{
    background-color: #1e1e1e;
    color: #e0e0e0;
}
section.dark-mode{
    background-color: #797979;
    color: #e0e0e0;
}
/*Back To Top Button*/
#bToTop{
    position: fixed;
    bottom: 0;
    right: 0;
    margin:0 30px 50px 0;
    background-color: #121212;
    height: 50px;
    width: 50px;
    display: grid;
    border-radius: 180px;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;
}
#bToTop:hover{
    box-shadow: lime 0px 0px 10px;
}