body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: rgb(172, 216, 255);
    color: #333;
}
/*This is the header styling section of my webpage*/
header{
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}
header h1{
    margin: 0;
}
nav ul{
    list-style: none;
    padding: 0;
}
nav ul li{
    display: inline;
    margin:0 10px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
}
/* This is the main styling section of my webpage*/
main{
    padding: 20px;
    max-width: 800px;
    margin: auto;
}
section{
    background-color: #fff;
    margin: 20px 0;
    padding: 20px;
    border-radius: 9px;
    box-shadow: 0 0 10px black;
}
h2{
    color: #333;
}
/*This is the CSS Colors Styling Section*/
.color-example{
    background:linear-gradient(to left, blue,rgb(0, 255, 115));
    color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    margin: 10px 0;
}
/* This is the Flexbox and Flex Item styling section of my webpage*/
.flex-container{
    display: flex;
    gap: 10px;
    margin: 20px 0;
}
.flex-item{
    background-color: #2196F3;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    flex: 1;
}
/*This is the Grid and Grid Item styling section of my webpage*/
.grid-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    margin: 20px;
}
.grid-item{
    background-color: orange;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}
/*This is the footer styling section of my webpage*/
footer{
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}
/* This is the responsive layout for my webpage*/
@media (max-width:600px){
    .flex-container{
        flex-direction: column;
    }
    .grid-container{
        grid-template-columns: 1fr;
    }
}
